html * {
    font-family: sans-serif;
    color: peachpuff;
}

body {
    background-color: #12121d;
}

ul {
    list-style: none;
    text-align: center;
    padding-right: 30px;
    margin-bottom: 5px;
    /* border: black solid 1px; */
}

/* #card-search {
    border: black solid 1px;
}

#card-display {
    border: black solid 1px;
} */

#errorDisplay {
    position: absolute;
    background: #fcc;
    color: red;
    display: flex;
    width: 500px;
    left: 50%;
    top: calc(50% + 180px);
    transform: translate(-50%, 0%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    user-select: none;
    padding: 20px;
    display: none;
}